#Eclips Paths
.classpath
.project
.settings/
bin/

#IntelliJ Idea Paths
.idea/
*.iml
*.iws
atlassia*

#Netbeans output
nbproject
dist/
build/
dbdist/
nbactions.xml
**/nb-configuration.xml

#Apple Paths
.DS_Store

#Maven Paths
log/
target/

#Maven Plugins
test-output/

#Misc Editor
*.bak
*.tmp

#Java File Extensions
*.class
*.jar
*.war
*.ear

#Gradle
.gradle*

rebel.xml
